/* Default Config */

configuration {
    modi: "window,run,drun,ssh,emoji,combi";
    combi-modi: "window,drun";
	  theme: "~/.cache/wal/colors-rofi-dark.rasi";
    show-icons: true;
    font: "Iosevka Nerd Font 12";
}
